@model IEnumerable<Application.DTOs.Students.StudentsResponse>

@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <div class="mb-3 p-2 d-flex justify-content-between">
    <a asp-controller="Student" asp-action="Create" class="btn btn-primary me-2 text-nowrap">Thêm</a>
    <a asp-controller="Student" asp-action="Statistic" class="btn btn-info text-white">Thông kê</a>
    <a asp-controller="Student" asp-action="Export" target="_blank" class="btn btn-warning">Export</a>
  </div>
  <table id="student-table" class="table table-striped">
    <thead>
      <tr>
        <th>Họ và Tên</th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>Địa chỉ</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>

@section Scripts
{
<script type="text/javascript">
  var table;
  $(document).ready(() => {
    table = $("#student-table").DataTable({
      ajax: {
        url: '@Url.Action("GetAll")',
        type: 'get',
        dataType: 'json'
      },
      columns: [
        { data: "name" },
        { data: "gender" },
        { data: "birthday" },
        { data: "address" },
        {
          data: "id",
          orderable: false,
          render: (data) => {
            return `<div class="d-flex">
                <a href="Student/Detail/${data}" class="btn btn-primary me-2">Chi tiết</a>
                <button class="btn btn-danger delete" data-id="${data}">Xóa</button>
              </div>`
          }
        }
      ]
    })
    $("#student-table").on('click', 'button.delete', (e) => {
      e.preventDefault()
      const id = $(e.currentTarget).data('id')
      $.ajax({
        url: 'Student/Remove/' + id,
        type: 'DELETE',
        dataType: 'json',
        success: (res) => table.ajax.reload(),
        error: (err) => console.log(err)
      })
    })
  })
</script>
}