@{
  Layout = "_Layout";
}

<form method="post" asp-controller="Role" asp-action="Create">
  <h3>Thêm môn học</h3>
  <div class="mb-3">
    <label>Tên vai trò</label>
    <input class="form-control" name="Name" />
  </div>
  <div class="mb-3">
    <button type="submit">Thêm</button>
  </div>
</form>