@{
  Layout = "_Layout";
}

@model IEnumerable<Application.DTOs.Classes.ClassResponse>

<div class="container-fluid">
  <div class="d-flex justify-content-between mb-3 p-2">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Class" >Thêm lớp học mới</a>
    <a class="btn btn-warning" asp-action="Export" asp-controller="Class">Export</a>
    <a class="btn btn-info text-white" asp-action="MaxMale" asp-controller="Class">Lớp đông nam nhất</a>
  </div>
  <table class="table table-striped" id="class-table">
    <thead>
      <tr>
        <th>Tên</th>
        <th>Lớp trưởng</th>
        <th>Bí thư</th>
        <th>Sĩ số</th>
        <th>Sĩ số nam</th>
        <th>Sĩ số nữ</th>
        <th>Môn học</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(() => {
    let table = $("#class-table").DataTable({
      ajax: {
        url: '@Url.Action("GetAll")',
        type: 'get',
        dataType: 'json'
      },
      columns: [
        { data: "name" },
        { data: "monitor"},
        { data: "secretary"},
        { data: "glosbe"},
        { data: "maleGlosbe"},
        { data: "femaleGlosbe"},
        { data: "subjects"},
        {
          data: "id",
          orderable: false,
          render: (data) => {
            return `<div class="d-flex">
                <a href="Class/Detail/${data}" class="btn btn-primary me-2">Chi tiết</a>
                <button class="btn btn-danger delete" data-id="${data}">Xóa</button>
              </div>`
          }
        }
      ]
    })
    $("#class-table").on('click', 'button.delete', (e) => {
      e.preventDefault()
      const id = $(e.currentTarget).data('id')
      $.ajax({
        url: 'Class/Remove/' + id,
        type: 'DELETE',
        dataType: 'json',
        success: (res) => table.ajax.reload(),
        error: (err) => console.log(err)
      })
    })
  })
    </script>
}