@{
  Layout = "_Layout";
}

@model Application.DTOs.Subjects.CreateSubject

<form method="post" asp-controller="Subject" asp-action="Create">
  <h3>Thêm môn học</h3>
  <div class="mb-3">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Thêm</button>
  </div>
</form>