@model IEnumerable<Application.DTOs.Subjects.SubjectResponse>

@{
  Layout = "_Layout";
}

<div class="contaienr-fluid">
  <div class="mb-3 p-2 d-flex justiyf-content-between">
    <a class="btn btn-primary" asp-action="Create">Thêm</a>
    <a class="btn btn-warning" asp-action="Export" asp-controller="Subject">Export</a>
  </div>
  <table class="table table-striped" id="subject-table">
    <thead>
      <tr>
        <th>Tên</th>
        <th></th>
      </tr>
    </thead>

  </table>
</div>

@section Scripts
{
<script type="text/javascript">
  var table;
  $(document).ready(() => {
    table = $("#subject-table").DataTable({
      ajax: {
        url: '@Url.Action("GetAll")',
        type: 'get',
        dataType: 'json'
      },
      columns: [
        { data: "name" },
        {
          data: "id",
          orderable: false,
          render: (data) => {
            return `<div class="d-flex">
                <a href="Detail/${data}" class="btn btn-primary me-2">Chi tiết</a>
                <button class="btn btn-danger delete" data-id="${data}">Xóa</button>
              </div>`
          }
        }
      ]
    })
    $("#subject-table").on('click', 'button.delete', (e) => {
      e.preventDefault()
      const id = $(e.currentTarget).data('id')
      $.ajax({
        url: 'Subject/Remove/' + id,
        type: 'DELETE',
        dataType: 'json',
        success: (res) => table.ajax.reload(),
        error: (err) => console.log(err)
      })
    })
  })
</script>
}